/*** CSS FILE FOR LITUATION  ***/

.home_body{
    background-image: url("/images/atlanta-map.png");

}

#main{
    /* height: 100vh; */
    /* background: rgba(206, 3, 3, 0.84); */
    /* overflow: hidden; */
    
    
}
nav{
    overflow: hidden;
}

.navbar-brand-lit {
    display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 1.6rem;
    line-height: inherit;
    white-space: nowrap;
    color: #FF6633;
    text-shadow:1px 1px black;
    font-family: 'Bungee Inline', cursive;
}
.navbar-brand-lit:hover {
    display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 1.6rem;
    line-height: inherit;
    white-space: nowrap;
    color: rgb(255, 54, 51);
    text-shadow:1px 1px black;
    font-family: 'Bungee Inline', cursive;
    -webkit-transition: color 2s; /* For Safari 3.1 to 6.0 */
    transition: color 2s;
}

.footer-brand-lit {
    font-size: 1.6rem;
    color: #FF6633;
    text-shadow:1px 1px black;
    font-family: 'Bungee Inline', cursive;
}

.home-btn {
    font-family: 'Bungee Inline', cursive; 
    color: black; 
    font-size: 30px;
    background-color: #FF6633;
    border: 1px solid red;
    -webkit-transition: color, background-color .8s; /* For Safari 3.1 to 6.0 */
    transition: color .7s, background-color .7s, transition .7s;
}
.home-btn:hover  {
    font-family: 'Bungee Inline', cursive; 
    color: #074872; 
    font-size: 30px;
    border: 1px solid #9D0035;
    background-color: #E74007;
    text-decoration: none;
    text-decoration-color:  #E74007;
}

.litNavFont {
    font-family: 'Megrim', cursive;
}

hr.lighter { 
    border: 0; 
    border-bottom: 1px dashed #ccc; 
    background: #999; 
}


.h1_home {
    font-family: 'Bungee Inline', cursive; 
    color: wheat;
}
.h1_home2 {
    font-family: 'Megrim', cursive; 
    color: wheat;
}
.strongYellow {
    font-family: 'Bungee Inline', cursive; 
    color: yellow;
}


.h2_about {
    font-family: 'Bungee Inline', cursive; 
    font-size: 1.9rem;
}
.strongOrange {
    font-family: 'Bungee Inline', cursive; 
    color: #FF6633;
}




/* This is the animation for the about page CSS */

@keyframes aboutSlideIn {
    from {
      margin-left: 100%;
      width: 200%; 
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }

.aboutSlide {
  animation-duration: .7s;
  animation-name: aboutSlideIn;
  animation-iteration-count: 1;
}
.navStyle {
    font-size: 25px; 
    font-family: 'Bungee Inline';
}


/* Animation for the home page moving map */

@keyframes animatedMapBackground {
	from { background-position: 0 0; }
	to { background-position: 100% 0; }
}

.animateMap	{ 
	width: 560px; 
	height: 400px; 
	background-image: url('/images/sample-map.jpg');
	background-position: 0px 0px;
	background-repeat: repeat-x;
    animation: animatedMapBackground 25s linear infinite;
    box-sizing: border-box;
}


/* google map css below */

/* This is the animation for the about page CSS */

@keyframes aboutSlideIn {
    from {
      margin-left: 100%;
      width: 200%; 
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }


.aboutSlide {
  animation-duration: .7s;
  animation-name: aboutSlideIn;
  animation-iteration-count: 1;
}
.navStyle {
    font-size: 25px; 
    font-family: 'Bungee Inline';
}

/* google map css below */

/* Always set the map height explicitly to define the size of the div
* element that contains the map. */
#map {
height: 100%;
}

/* Optional: Makes the sample page fill the window. */
html, body {
height: 100%;
margin: 0;
padding: 0;
}

.map_page_body{
    background-color: white; 
}


/* floting panel for ggogle map */

#floating-panel {
    position: absolute;
    top: 10px;
    left: 50%;
    z-index: 5;
    text-align: center;
    font-family: 'Roboto','sans-serif';
    line-height: 30px;
    margin-top: 70px;
  }
/* ---------- */
  #pac-input {
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 400px;
  }


  .controls {
    margin-top: 75px;
    border: 1px solid transparent;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 32px;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  }
  .litSpy-btn {

    background-color: rgba(255, 102, 51, 1);
    color: lightgrey;
    opacity: .55;
    border:none;
    -webkit-transition: opacity .8s; /* For Safari 3.1 to 6.0 */
    transition: opacity .8s;
}
.litSpy-btn:hover {

    background-color: rgba(255, 102, 51, 1);
    color: white;
    opacity: 1;
    border:none;
   
}
.litSpy-select {

    opacity: .55;
    -webkit-transition: opacity 1s; /* For Safari 3.1 to 6.0 */
    transition: opacity 1s;
}
.litSpy-select:hover {
    
    opacity: 1;
}

  #pac-input:focus {
    border-color: #4d90fe;
  }

  .pac-container {
    font-family: Roboto;
  }

  #type-selector {
    color: #fff;
    background-color: #4d90fe;
    padding: 5px 11px 0px 11px;
  }

  #type-selector label {
    font-family: Roboto;
    font-size: 13px;
    font-weight: 300;
  }


 /* side panel for notes div on map */
  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}