body{
    background-image: url("http://media.bizj.us/view/img/9246582/unknown*750xx1826-1027-0-33.png");

}

#main{
    height: 100vh;
    background: rgba(206, 3, 3, 0.84);
    overflow: hidden;
    
    
}
nav{
    overflow: hidden;
}
